mat-form-field{
  font-size: 12px;
}

mat-label{
  font-size: 12px;
  font-weight: bold;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
 
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 2px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

